ul{
	list-style-type: none;
	overflow: hidden;
	color: #c1121f;
}
ul li{
	float: left;
	text-align: center;
	text-decoration: none;
	color: #c1121f;
}
ul li a{
	text-decoration: none;
	display: block;
	width: 75px;
	padding: 14px 15px;
}
ul li a:hover{
	background-color: #90e0ef;
}
.active{
	font-weight: bold;
	border-bottom: solid 2px #0000ff;
}
